/* .parent{
    border: 2px solid;
    height: 200px;
    width: 200px;
}

.child{
    border: 2px solid red;
    height: 50%;
    width: 50%;
} */

/* ------------------------------------------------------------------------- */

/* body{
    height: 400px;
    width: 400px;
    border: 2px solid green;
}
.bodychild{
    height: 50%;
    width: 50%;
    background-color: skyblue;
} */

/* -------------------------------------------------------------------------- */

/* div{
    font-size: 10px;
    border: 2px solid green;
    height: 200px;
    width: 500px;
}
h1{
    font-size: 3em;
}
.head{
    font-size: 30px;
} */

/* --------------------------------------------------------------------------- */

/* .parent{
    font-size: 20px;
}
.child{
    font-size: 2em;
}
.grandchild{
    font-size: 2em;
} */

/* -------------------------------------------------------------------------- */

/* h1{
    font-size:5rem;
}

.a{
    font-size: 80px;
} */

/* ------------------------------------------------------------------------- */

div{
    border: 2px solid orangered;
    width: 30vw;
    height: 50vh;
}